// Custom variables
$gray-600: #d2d2d2; // Secondary
$gray-900: #09435b; // Dark
$blue: #820a1e; // Primary
$red: #ee4b4c; // Danger
$yellow: #f9d76f; // Warning
$green: #61c250; // Success
$cyan: #29b1bd; // Info

// Import bootstrap
@import "../node_modules//bootstrap//scss/bootstrap.scss";
