.landing_page_size {
  height: 100vh;
  background: url("../../../public/images/Theshrine.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.landing_buttons {
  height: 15%;
}

.bg_link_opacity {
  background-color: rgba(255, 255, 255, 0.75);
}

.bg_link_opacity:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
