.landing_page_size {
  height: 100vh;
  background: url("../../../public/images/Theshriner.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.title_spacing {
  margin-bottom: 55%;
}

@media (min-width: 1025px) {
  .landing_page_size {
    height: 100vh;
    background: url("../../../public/images/Theshriner.png");
    background-size: 35%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .title_spacing {
    margin-bottom: 25%;
  }
}

.landing_buttons {
  height: 10%;
}

.bg_link_opacity {
  background-color: rgba(255, 255, 255, 0.75);
}

.bg_link_opacity:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
